.movie-image {
    width: 100%;
    aspect-ratio: 2 / 3; /* or remove this and set a fixed height */    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .custom-container {
    max-width: 1000px; /* or any width you prefer */
    margin: 0 auto;   /* centers the container */
  }

  .movie-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
  }
  
  .movie-info {
    padding: 15px;
  }

  
  /* Specific movie images */
  .movie-titanic {
    background-image: url('images/Titanic.jpg');
  }
  .movie-TheMatrix {
    background-image: url('images/TheMatrix.jpg');
  }
  .movie-aquietplace {
    background-image: url('images/AQuietPlace.jpg');
  } 
  .movie-avatar {
    background-image: url('images/Avatar.jpg');
  }
  .movie-avengers {
    background-image: url('images/Avengers.jpg');
  }
  .movie-cars {
    background-image: url('images/Cars.jpg');
  }
  .movie-dune {
    background-image: url('images/Dune.jpg');
  }
  .movie-interstellar {
    background-image: url('images/Interstellar.jpg');
  }
  .movie-it {
    background-image: url('images/It.jpg');
  }
  .movie-lalaland {
    background-image: url('images/LaLaLand.jpg');
  } 
  .movie-tokyodrift {
    background-image: url('images/TokyoDrift.jpg');
  }
  .movie-tronlegacy {
    background-image: url('images/TronLegacy.jpg');
  } 
  .movie-wolfofwallstreet {
    background-image: url('images/WolfOfWallStreet.jpg');
  }
  .movie-thehangover {
    background-image: url('images/TheHangover.jpg');
  }
  
  
  
  .movie-item[data-status="to-watch"] {
    border: 2px solid #ffc107; /* Yellow border */
  }
  
  .movie-item[data-status="watching"] {
    border: 2px solid #17a2b8; /* Blue border */
  }
  
  .movie-item[data-status="watched"] {
    border: 2px solid #28a745; /* Green border */
  }
  